<header>
<%= link_to products_path do%>
    <h1>Vende tu producto</h1>
    <%end%>
    <nav>
        <span>  <%= link_to "Añadir producto:", new_product_path %></span>
        <span>2</span>
        <span>3</span>
        <span>4</span>
    </nav>
</header>