<h2>Productos :</h2>


<%= Date.today %>
<br />
<% @products.each do |product| %>
 <%= link_to  product_path(product.id) do %> 
<h2><%= product.title   %></h2>
<span>Precio: $<%= product.price   %></span>
<% end   %>
<% end   %>